// https://www.robinwieruch.de/create-react-app-with-sass-support/
// https://www.youtube.com/watch?v=4cXgXZ3Tf0s
.mainContainer {
  // this outer wrapper exists if there is any additional buttons
  position: relative;
  z-index: 999;
}

.container {
  color: rgb(255, 255, 255);
  //background-color: aqua;

  position: fixed;
  top: 0;
  right: 0;

  width: 200px;
  @media only screen and (max-width: 767px) {
    width: auto;
    margin-right: 10px;
  }
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  // https://balsamiq.com/learn/articles/button-design-best-practices/
  // https://balsamiq.com/learn/articles/sign-up-flow/
  .button {
    background-color: #378314;
    border-radius: 50%;
    cursor: pointer;

    // https://stackoverflow.com/questions/13788192/stop-div-container-from-resizing/13788336
    // set px values to calculations according to the viewport
    // dont forget that width and height exists L0L!
    width: 14vw;
    height: 14vw;
    @media only screen and (max-width: 767px) {
      width: 100px;
      height: 100px;
    }
    max-width: 190px;
    max-height: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 1s ease-in-out;
  }
}
