:root {
  --color: white;
}

.background {
  background-color: rgb(68, 68, 68);
  width: 100vw;
  height: 100vh;
}
.contentContainer {
  color: var(--color);
  width: calc(100vw - (40px + 5vw));
  height: 100vh;

  margin-left: calc(40px + 5vw);

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  transform: translateY(-100vh);
  .action {
    color: rgb(30, 224, 30);
    width: 100%;
    height: auto;
    @media only screen and (max-width: 767px) {
    }

    font-weight: 700;
    font-size: 3vw;
    /*
    .arrow {
      height: 100px;
      width: 100px;
    }
    */
  }
  .title {
    //padding-top: 180px;

    line-height: 90%;
    font-weight: bold;
    font-size: 10vw;
    text-align: left;
    .copyright {
      line-height: 90%;
      font-weight: bold;
      font-size: 10px;
      text-align: left;

      padding-right: 10px;
    }
  }
}
