// to be made into its own file
// are load screens lame??
.screen {
  background-color: aqua;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  position: fixed;

  animation: loading var(--animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes loading {
  from {
    height: 100vh;
    color: rgba(0, 0, 0, 1);
  }
  to {
    height: 0;
    color: rgba(0, 0, 0, 0);
  }
}

.hidden {
  display: none;
}
