.mainContainer {
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  height: 150vh;

  margin-top: -30vh;

  .container {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 4vw;
      line-height: 98%;
      font-weight: 900;
      width: 48vw;

      margin: 10px;
      margin-bottom: 5vw;
    }
    .text {
      font-size: 1.5vw;
      width: 40vw;

      margin: 10px;
    }
    .image {
      background-color: yellowgreen;
      width: 85%;
      height: 50%;

      margin-left: 3vw;
    }
  }
}
