body {
  background-color: rgb(255, 239, 215);
  margin: 0;
  font-family: "arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*https://css-tricks.com/custom-scrollbars-in-webkit/*/
::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
